.CreateCocktailPage {
  width: 100%;
  display: inline-block;
}

.create-cocktail-current-step {
  display: block;
  width: 70%;
  float: left;
}

.create-cocktail-sidebar {
  display: inline-block;
  width: 30%;
  height: 100%;
  padding: 1em;
}

.StepSelect {
  display: block;
  width: 25%;
  cursor: pointer;
}

.create-cocktail-steps {
  display: inline-block;
  margin: 0 20%;
  width: 60%;
}

.create-cocktail-step {
  float: left;
  width: 33%;
}

.selected-true {
  background-color: #26d9d0;
  transition: background-color ease-in-out .2s;
}
