.TextInput {
  background: none;
  border: none;
  border-bottom: 2px dashed #bfbfbf;
  padding: 1em 0;
  margin-top: 3em;
}

.TextInput:focus {
  outline: none;
  border-bottom: 2px dashed #26d9d0;
}

.TextArea {
  background: none;
  border: 2px dotted #bfbfbf;
  margin-top: 3em;
  min-height: 100px;
}

.TextArea:focus {
  outline: none;
  border: 2px dotted #26d9d0;
}
